*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

a {
  color: inherit;
  text-decoration: unset;
}

p {
  margin: unset;
}

ul {
  margin: unset;
  padding: unset;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

button {
  padding: unset;
  cursor: pointer;
  color: inherit;
  border: unset;
}

input {
  outline: unset;
}